@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <script>
      mgt.Providers.globalProvider = new mgt.Msal2Provider({
          clientId: "7164bdc2-7596-44d2-896c-f81e025cb06d",
          authority: "https://login.microsoftonline.com/c99a2e66-f380-4494-a645-1e5c35c30dfa",
          scopes: ["user.read", "calendars.read"],
          loginHint: "nikola@msgraphdemo.onmicrosoft.com",
          redirectUri: "/sso.html",
          loginType: mgt.LoginType.Popup
      });
  </script>
  <mgt-login></mgt-login>
  <mgt-people-picker></mgt-people-picker>
</div>
