@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <script>
      mgt.Providers.globalProvider = new mgt.Msal2Provider({
          clientId: "ab58afcf-ef01-4cc0-89fd-3cabceab38c3",
          authority: "https://login.microsoftonline.com/801e6804-9cb1-4277-be16-491ffcc0070a",
          scopes: ["user.read", "calendars.read"],
          loginHint: "MeganB@M365x893083.OnMicrosoft.com",
          redirectUri: "/sso.html",
          loginType: mgt.LoginType.Popup
      });
  </script>
  <mgt-login></mgt-login>
  <mgt-people-picker></mgt-people-picker>
</div>
